div .countByGroupContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 3px purple solid;
    border-radius: 7px;
    margin: 10px 5px 0 5px;

}

.countByGroupContainer {
    h4 {
        color: blue;
    }

    .counterInGroup {
        margin: 5px 15px 5px 15px;
        display: flex;
        border: darkblue 2px solid;
        border-radius: 7px;
        background-color: skyblue;
        color: darkblue;
        font-weight: bold;
        width: 80px;
        font-size: 11px;
        justify-content: center; // centers the text inside
    }
}




