$absolute-base-left: 250px; // was 300
$dddw-column-width: 80px;
$inline-button-width: 60px;
$inline-button-left-margin: 12px;

.todoItemInline {
    height: auto;
    text-align: left;
    padding: 5px 0 5px 5px;
    position: relative;
}

.highlightnedLine {
    font-weight: 700; // 400 is normal
}

.ellipsisField {
    color: black;
    display: inline;
    max-width: 220px;
    // text-overflow: ellipsis;
    // white-space: nowrap;
    // overflow: hidden;
    padding-left: 3px;
    margin: 0;
    ///
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.ellipseTooltipTypeA {
    border: 2px solid black;  
    background: white;
    color: black;
    border-radius: 10px;;
  }

.InputSelect {
    display: inline;
}
.statusLabel {
    display: inline;
    color: red;
    position: absolute;
    left: $absolute-base-left;
    width: $dddw-column-width;
    border: none;
    background: none;
    -webkit-appearance: none;
}

.priorityLabel {
    display: inline;
    color: black;
    position: absolute;
    left: ($absolute-base-left + $dddw-column-width);
    width: $dddw-column-width;
    -webkit-appearance: none;
    background: none;
    border: none;
}

.btnInline {
    display: inline;
    height: 22px;
    width: $inline-button-width;
    border-radius: 7px;
    margin-left: $inline-button-left-margin;
    color: blue;
    position: absolute;
    top: 5px;
}

.btnEdit {
    left: ($absolute-base-left + 1.75*$dddw-column-width);// + $inline-button-left-margin) ;
}
.btnInfo {
    left: ($absolute-base-left + $inline-button-width + 1.75*$dddw-column-width);
}

.btnDelete {
    left: ($absolute-base-left + (2*$inline-button-width) + 1.75*$dddw-column-width);
}
// ===================================================
.itemFullInLineSectionClosed {
    display: none;
}

.itemFullInLineSectionOpened {
    display: inherit;
    background: lightgray;
    font-weight: 400; // set to normal to overide the main line that is in focus with 700;
}
 // ===================================================   