.itemFullInLine { 
        background: lightgray;
        // I don't want the border on right as I have the "Main Border"
        margin: 0;
        border: 1.5px solid grey;

        label {
            font-weight: 500; // 400 - normal, 700-bold
            padding-left: 7px;;
            padding-right: 5px;
        }
}