.about {
    height: 50%;
    width: 50%;
    h2 {
        color: blue;
    }
}

div.about {
    border: 2px dotted lime;
    background-color: orange;
}

.about p {
    padding-left: 20px;
    padding-top: 10px;
    color: blue;
}