$small-button-height: 20px;
$small-button-width: 35px;

.todoList {
    display: flex;
    flex-direction: column;
    width: 100%;
    
    .todoListSummaryHeader {
        height: 70px;
    }
    h4 {
        color: blue;
        margin: 3px;
        margin-bottom: 15px;
    }

    .todoListHeader {
        color: blue;
        padding: 0 30px 0 10px;
    }
    .btnListHeader {
        height: 20px;
        width: 60px;
        border-radius: 7px;
        margin-left: 10px;
        color: blue;
    }

    .leftAlign {
        text-align: left;
    }

    .divListHeader {
        text-align: left;
        height: 35px;
    }

    .labelInHeader {
        display: inline-block;
        color: blue;
        width: 110px;
        font-weight: bold;
        padding-top: 10px;
        padding-bottom: 5px;
    }

    // added class name .todoToggleList so the line coloring toggle will NOT APPLY when I press Show Info
    .todoToggleList:nth-child(odd) {
        background-color: rgba(173, 221, 230, 0.60);
    }

    .todoToggleList:nth-child(even) {
        background-color:skyblue;
    }

    .todoToggleList:first-child {
        display: flex;
        background-color: grey;
        align-items: flex-end;
        justify-items: left;
        align-content: flex-start;
        justify-content: left;

        .headerBtn {
            color: black;
            font-weight: 650;
            text-align: left;
            padding-left: 5px;
            height: 25px;
        }
        .headerNumber {
            width: 18px;
        }
        .headerTitle {
            width: 228px;
        }
        .headerStatus {
            width: 80px;
        }
        .headerPriority {
            width: 80px;
        }
    }
}

.todoListScrollerContainer {
    // - Calculating the required height of the list so the vertical scroll-bar will apply nicely
    // Link Menus header for entire App:  35px
    // Header: 80px
    // todoListSummaryHeader:   70px
    // divListHeader:  35px
    // Footer: 60px
    // Leave place for horizontal scroller: 35ox
    height: calc(100vh - (35px + 80px + 70px + 35px + 60px + 35px));
    
    overflow-y: scroll;
    overflow-x: scroll;
}

.hideMe {
    display: none;
}