.statusHistoryList {
    background-color: lightgoldenrodyellow;
    border: 2px dotted red;
    display: flex;
    flex-direction: column;
    overflow: auto;

    h4 {
        text-align: left;
        padding: 3px 0 3px 10px;
        margin: 0;
        font-weight: 550;;
    }
}

.statusHistoryLine {
    display: flex;
    flex-direction: row;

    label {
        color: black;
        text-align: left;
        padding-left: 5px;
    }

    .columnHeader {
        color: blue;
        font-weight: 500;
        font-size: 14px;
    }
    .idColumn {
        width: 40px;
    }
    .statusColumn {
        width: 180px;
        -webkit-appearance: none;
        background-color: lightgoldenrodyellow;
        border: none;
    }
    .statusSelect {
        color: black;
    }
    .changeDateColumn {
        width: 200px;
        font-size: 13px;;
    }
}