.classComponentSon {
    max-width: 400px;
    background-color: lightgreen;
    border: 3px black solid;
    margin: 50px 0 0 50px;

    h4 {
        color: blue;
    }
    h3 {
        color: black;
    }
    label {
        color: red;
        width: 150px;
    }
    hr {
        color: black;
    }
}

label {
    color: darkmagenta;
}
