.modal {
  font-size: 12px;
  border: 6px dotted red;
  background-color: rgba(18, 214, 188, 0.973);

  .divForButtons {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .divForButtons > button {
    padding: 0 10px 0; // hosrizontal 10px
    margin: 0 10px 0; // hosrizontal 10px
  }
}
.modal > .header {
  width: 300px; // was 100%
  color: yellow;
  border-bottom: 1px solid gray;
  font-size: 18px;
  text-align: center;
  padding: 5px;
}
.modal > .content {
  width: 500px; // was 100%
  padding: 10px 5px;
}
// .modal > .actions {
//   margin: auto;
// }
.modal > .actions {
  width: 100%;
  padding: 10px 5px;
  text-align: center;
}
.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding-bottom: 10px;
  padding-left: 8px;
  height: 14px;
  width: 16px;
  line-height: 20px;
  right: 10px; // was -10px
  top: 10px; // was -60px
  font-size: 18px;
  border-radius: 21px;
  border: 1px solid #cfcece;
  color: black;
}

.modal > .close:hover, .divForButtons > button:hover {
  background-color: yellow;
  color: red;
}