.popupWhenOpenTest1 {
  width: 350px;
  height: 100px;
  background-color: red; 
  border: 3px dotted yellow;
  text-align: center;

  h3 {
    color: pink;
    // background: "white";
    // background: "white";
  }

  button:hover {
    color: purple;
  }
}
