.mainMenu {
    background-color: lightyellow;
    display: flex;
    align-content: center;
    justify-content: center;
}
.linkItemMenu {
    margin-left: 20px;
    padding-left: 20px;
    color: blue;
}

.appToDo {
    background: silver;
    text-align: center;
    align-items: center;
    justify-content: center;
    
    display: flex;
    flex-direction: column;
    // vw	Relative to 1% of the width of the viewport*	
    // vh	Relative to 1% of the height of the viewport*
    width: 100vw;
    height: 100vh;

    .appHeader {
        display: block;
        position: fixed;
        height: 80px;
        top: 35px;
        left: 0;
        width: 100%;
        height: 75px;
        background-color: black;
        border: 2px solid yellow;

        h4 {
            color: lime;
            padding: 0;
            margin: 5px 0 0 0;
        }
        
        .debugInfo {
            color: white;
            margin: 0;
            padding: 0;
        }
    } // end .appHeader

    .appMain {
        background-color: blanchedalmond;
        display: flex;
        flex: 10;
        flex-direction: row;
        position: fixed;
        top: 110px;  // 35 of the linkMenu + 75 of the Header
        bottom: 60px;
        overflow-x: scroll;
        overflow-y: scroll;

        .mainLeft {
            flex: 2;
            top: 0;
            
            // vw	Relative to 1% of the width of the viewport*	
            // vh	Relative to 1% of the height of the viewport*
            width: 100vw;
            height: 100vh; // this helped me to present and enable the Vetical ScrollBat
        }
        .mainCenter, .mainRight {
            flex: 3;
            width: 100%;
            border-left: gray 4px solid;

            h5 {
                color: red;
            }
        }
    } // end .appMain

    .appFooter {
       display: block;
        position: fixed;
       bottom: 0;
       left: 0;
        // display: flex;
        // flex: 1;
        height: 60px;
        width: 100%;
        background-color: black;
        color: lime;

        div {
            align-items: center;
            align-content: center;
            vertical-align: middle;
            justify-items: center;
            justify-content: center;
            justify-self: center;
        }    
    }   // end .appFooter
} // end appToDo

.linkTo {
    color: lightseagreen;
    font-size: 35px;
}
