div .validationErrObject {
    border: 2px red solid;
    color: black;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 5px;
    text-align: left;

    .btnErrAdditionalInfo {
        border-radius: 7px;
        font-weight: bold;
        color: blue;
        margin-left: 5px;
        margin-top: -4px;
        background: yellow;
    }

    .btnErrAdditionalInfo:hover {
        color: red;
        box-shadow: 5px 5px purple;
    }

}


.displayNone {
    display: none;
}