.inputSelectReadOnly {

    select {
        -webkit-appearance: none;       // remove the arrow
        -moz-appearance: none;          // remove the arrow
        border: none;
        color: black;
    }

}
